.container {
  position: relative;
}

.backdropImg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* opacity: 0.4; */
}
.content {
  margin-left: 50px;
  top: 10%;
  left: 5%;
  position: absolute;
  display: flex;
}

.coverImg {
  max-width: 30%;
  height: auto;
}

.info {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  color: white;
}
.title {
  font-size: 30px;
  text-shadow: 4px 4px 4px black;
}

.title span {
  margin-left: 15px;
  font-size: 23px;
}

.genres {
  margin-bottom: 20px;
}

.genres span {
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
  border: 2.5px outset white;
  border-radius: 0.25rem;
  background-color: rgba(216, 216, 216, 0.37);
  text-shadow: 2px 2px 2px black;
}

.overview {
  width: 80%;
  margin-bottom: 30px;
  text-shadow: 2px 2px 2px black;
}

.bdImgOverlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.video {
  width: 90%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loding {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.lodingIcon {
  animation: spin 1.5s linear infinite;
}
