.navItem {
  font-size: 20px;
  margin-right: 10px;
}

.navLink {
  text-decoration-line: none;
  color: black;
}

.activeLink {
  text-decoration-line: none;
  color: black;
  border: 2px solid red;
}
