.bgc {
  /* background-color: tomato; */
  /* display: inline; */
  width: 50%;
  height: 50%;
  /* align-items: center; */
  /* justify-content: center; */
  border: 1px solid black;
}

.asd {
  display: inline;
}
