.subBtn {
  border: none;
  background-color: white;
  margin-top: 12px;
  margin-left: 10px;
  font-size: 18px;
}

form {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

input {
  border: none;
  border-bottom: 2px solid black;
  width: 80%;
  text-align: center;
  font-size: 30px;
}

input:focus {
  outline: none;
}
